<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>期权报价</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="Content/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div ng-app="optionApp" ng-controller="optionCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <br />
                        <br />
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <th>
                                        <p class="form-control-static">交易商:华信万达</p>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr class="info">
                                        <th class="text-center">合约代码
                                        </th>
                                        <th class="text-center">期货品种
                                        </th>
                                        <th class="text-center">最新价格
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select ng-change="change(selectedInstrument.Num)" ng-model="selectedInstrument" ng-options="Instrument.sInstrumentID for Instrument in Instrumentlist" class="form-control text-center">
                                            </select>
                                        </td>
                                        <td class="text-center">{{selectedInstrument.options[0].sInstrumentType}}
                                        </td>
                                        <td class="text-center">{{selectedInstrument.options[0].iLastPrice|number:2}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-10">
                            <p>
                                <strong>期权报价</strong>(期权期限:1个月&nbsp&nbsp&nbsp&nbsp最小交易单位:{{selectedInstrument.options[0].sSmallestUnit}}&nbsp&nbsp&nbsp&nbsp报价单位:元/单位)&nbsp&nbsp&nbsp&nbsp更新频率:20秒/次
                            </p>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="warning">
                                        <th colspan="5" class="text-center">看涨期权</th>
                                    </tr>
                                    <tr>
                                        <th class="warning text-center">行权价
                                        </th>
                                        <th class="text-center">客户买价
                                        </th>
                                        <th class="text-center">客户买价%
                                        </th>
                                        <th class="text-center">客户卖价
                                        </th>
                                        <th class="text-center">客户卖价%
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="call in selectedInstrument.options | filter:{sOptionType:'C'} | orderBy:'+iInstrumentPrice'">
                                        <td class="warning text-right">{{call.iInstrumentPrice|number:2}}</td>
                                        <td class="text-right">{{call.iBuy|number:2}}</td>
                                        <td class="text-right">{{(call.iBuy/call.iLastPrice)*100|number:2}}%</td>
                                        <td class="text-right">{{call.iSell|number:2}}</td>
                                        <td class="text-right">{{(call.iSell/call.iLastPrice)*100|number:2}}%</td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered" border="1">
                                <thead>
                                    <tr class="success">
                                        <th colspan="5" class="text-center">看跌期权</th>
                                    </tr>
                                    <tr>
                                        <th class="success text-center">行权价
                                        </th>
                                        <th class="text-center">客户买价
                                        </th>
                                        <th class="text-center">客户买价%
                                        </th>
                                        <th class="text-center">客户卖价
                                        </th>
                                        <th class="text-center">客户卖价%
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="put in selectedInstrument.options | filter:{sOptionType:'P'} | orderBy:'+iInstrumentPrice'">
                                        <td class="success text-right">{{put.iInstrumentPrice|number:2}}</td>
                                        <td class="text-right">{{put.iBuy|number:2}}</td>
                                        <td class="text-right">{{(put.iBuy/put.iLastPrice)*100|number:2}}%</td>
                                        <td class="text-right">{{put.iSell|number:2}}</td>
                                        <td class="text-right">{{(put.iSell/put.iLastPrice)*100|number:2}}%</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <p class="text-success text-left">
                                <strong>{{selectedInstrument.options[0].dDate}}</strong>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-warning text-right">
                                <strong>若有其他期权定制、询价等需求，请联系我们</strong>
                            </p>
                            <p class="text-warning text-right">
                                <strong>联系人：黄芬红</strong>
                            </p>
                            <p class="text-warning text-right">
                                <strong>电话：0371 - 69106053</strong>{{}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
var url = "//www.wdqh.com/option/json.php";
var selectedNum = 0;
angular.module('optionApp', [])
    .controller('optionCtrl', ['$scope', '$interval', '$http',
        function($scope, $interval, $http) {
            $scope.change = function(x) {
                if (typeof(x) != "undefined") {
                    selectedNum = x;
                }
            }

            $http.get(url).success(function(response) {
                $scope.Instrumentlist = response.List;
                $scope.selectedInstrument = $scope.Instrumentlist[selectedNum];
            });
            $interval(function() {
                $http.get(url).success(function(response) {
                    if (response.List.length>0) {
                        $scope.Instrumentlist = response.List;
                        $scope.selectedInstrument = $scope.Instrumentlist[selectedNum];
                    }
                });
            }, 20000);
        }
    ])
</script>

</html>
